@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');


.body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    /* max-width: 1440px; */
    min-height: 100vh;
    display: flex;
     flex-direction: column; 
    align-items: center;
    justify-content: center;
   background-color: hsl(257, 40%, 49%); 

   
}

.container {
    max-width: 100%;
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url("./images/bg-desktop.svg") no-repeat;
    background-size: contain;
}

.header  {
 
    padding-top: 34px;
}

.header__logo {
    width: 16%;
}

.main {
    margin-top: 90px;
}
.card { 

    display: flex; 
    width: 100%;
}

.card__img {
    width: 52%;
   
}


.card__texto {
    width: 38%;
    margin: 10px 0 0 38px;
    position: relative;
}

.card__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    width: 351px;
}

.card__p {

font-size: 0.96em;
margin-bottom: 22px;
word-spacing: 2px;
}


.myButton {
	box-shadow: 4px 0px 7px -3px #000000;
	background-color:#ffffff;
	border-radius:28px;	
	display:inline-block;
	cursor:pointer;
	color: hsl(257, 40%, 49%);   
	font-size:17px;
	padding: 11px 57px;
	text-decoration:none;
	
}
.myButton:hover {
	background-color: hsl(300, 69%, 71%);
    color: white;
}



.card__link {
    position: absolute;
    right: 1px;
    bottom: 48px;
}


.link__logo {
    border-radius: 50%;
    border: white 1px solid;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    outline: none;
    margin: 5px;
}

.link__logo--hover:hover{
border-color: hsl(300, 69%, 71%);
color: hsl(300, 69%, 71%);
}



/* FOOTER */

.footer {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
    }


/* RESPONSIVE */
 
@media screen and (max-width:480px) {
  
    body{
        background: url(./images/bg-mobile.svg) no-repeat;
        background-size: cover;
    }

    .header {
        width: 100%;
        padding: 14px 0 26px 34px;
    }

    .header__logo {
    width: 35%;

} 

    .container, .card, .main, .card__texto, .card__link{
        width: 95%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0;
        justify-content: center;
        align-items: center;
        background-image: none;
        height: fit-content;
        
    }

       
    .card__img {
        width: 95%;
    }

    .card__texto {
        width: 87%;
        margin: 0;
        align-content: center;
    }

    .card__title {
        font-size: 1.4em;
        width: fit-content;
    }

    .card__p {
        font-size: 0.95em;
    }

    .myButton {
        
    padding: 8px 76px;        
    font-size: 13px;        
    margin-bottom: 15px;
    }


.card__link {
    flex-direction: row;
    position: static;    
}

.link__logo {
    width: 29px;
    height: 29px;
    line-height: 29px;
    font-size: 0.8em;
    margin: 8px;
 }
}




@media screen and (min-width:481px) and (max-width: 768px) {

    body{
        background-image: url(./images/bg-desktop.svg);
        background-repeat: no-repeat;   
    }

    .header {
      
padding: 36px 0;
      
width: inherit;
    }

    .header__logo {
    width: 35%;
    margin-left: 67px;
    }

    .container, .card, .main, .card__texto, .card__link {
        
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0;
        justify-content: center;
        align-items: center;
        background-image: none;
        height: fit-content;
    }
   
    .container, .main {
        width: 93%;
    }
      
    .card__img {
        width: 70%;
    }

    .card__texto {
        width: 87%;
        margin: 0;
        align-content: center;
    }

    .card__title {
        font-size: 1.4em;
        width: fit-content;
    }

    .card__p {
        font-size: 0.95em;
    }

    .myButton {
        
    padding: 8px 76px;        
    font-size: 13px;        
    margin-bottom: 15px;
    }


.card__link {
    flex-direction: row;
    position: static;    
}


}




@media screen and (min-width: 769px) and (max-width: 1024px) {

    .container {
        background-size: cover;
        
        height: 100vh;
    }
      .card__title {
        width: fit-content;
        font-size: 1.5em;
    }
    
    .myButton {
        
    padding: 10px 37px;        
    font-size: 13px;        
    margin-bottom: 15px;
        }

        .link__logo {
            width: 29px;
            height: 29px;
            line-height: 29px;
            font-size: 0.8em;
           margin-top: 10px;
}  

}